/python_code_tests/task_decoded_int_into_ascii_string_chars.py
/python_code_tests/task_sentence_input_to_list_of_words_sorted_by_len.py

#################################################################
# Python
#################################################################

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

#################################################################
# Node
#################################################################

node_modules/

#################################################################
# Cypress
#################################################################

cypress/videos/
cypress/screenshots/

#################################################################
# Playwright
#################################################################

playwright-report/
test-results/

#################################################################
# Allure
#################################################################

allure-results/

#################################################################
# Environment
#################################################################

.env
.env.*

#################################################################
# IDE
#################################################################

.idea/
.vscode/

#################################################################
# OS
#################################################################

.DS_Store
Thumbs.db
